name: Deployment

on: 
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*' # Trigger on new Git tags like v1.0.0

jobs:
  Docker_Push:
    runs-on: ubuntu-latest
  
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - 
        name: Lower case
        id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}
      - 
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            latest=auto
          # list of Docker images to use as base name for tags
          images: |
            ${{ steps.string.outputs.lowercase }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}
      - 
        name: Scrape build info
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            GIT_VERSION_TAG=${{ env.RELEASE_VERSION }}
            GIT_COMMIT_MESSAGE=${{ github.event.head_commit.message }}
            GIT_VERSION_HASH=${{ github.sha }}
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN  }}
      # SSH Remote the SERVER for deployment
      # - 
      #   name: Checkout
      #   uses: actions/checkout@v5.0.0
      # - 
      #   name: Setup Tailscale
      #   uses: tailscale/github-action@v3
      #   with:
      #     hostname: Github-actions
      #     oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
      #     oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
      #     tags: tag:ci
      # - 
      #   name: Deploy to Staging server
      #   uses: kostya-ten/ssh-server-deploy@v4
      #   with:
      #     scp_source: 'compose.yaml'
      #     scp_target: ${{secrets.REMOTE_DIRECTORY}}
      #     host: ${{secrets.SSH_HOST}}
      #     username: ${{secrets.SSH_USER}}
      #     private_key: ${{secrets.SSH_PRIVATE_KEY}}
      #     before_script: |
      #       docker compose -f ${{secrets.REMOTE_DIRECTORY}}/compose.yaml pull
      #     after_script: |
      #       docker compose -f ${{secrets.REMOTE_DIRECTORY}}/compose.yaml up -d