name: Deployment

on: 
  workflow_dispatch:
  release:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
  
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - 
        name: Lower case
        id: string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.string.outputs.lowercase }}
          labels: ${{github.ref_name}}
          secrets: |
              GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN  }}
      
    # - name: Setup Tailscale
    #   uses: tailscale/github-action@v2
    #   with:
    #     hostname: Github-actions
    #     oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
    #     oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
    #     tags: tag:ci
        
    # - name: Install SSH Key
    #   uses: webfactory/ssh-agent@v0.9.0
    #   with:
    #     ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    # - name: Do the deploy thing
    #   run: |
    #     ssh -o "StrictHostKeyChecking no" root@school-server "
    #       cd c:/code
    #       docker compose pull
    #       docker compose up -d
    #     "