name: Code Review with ollama
on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
permissions: write-all

jobs:
  code_review:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v5.0.0

      - 
        name: Setup Tailscale
        uses: tailscale/github-action@v3
        with:
          hostname: Github-actions
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      
      - 
        name: Checkout repository and submodules
        uses: actions/checkout@v5 # To clone the repository
        with:
          submodules: true
      - 
        name: Run Ollama Code Review
        uses: ./review_bot
        with:
          OLLAMA-ADDRESS: ${{ secrets.OLLAMA_ADDRESS }} # Local Ollama server
          file-pattern: "**/*.{js}"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          base-branch: "origin/main"
          model: ${{ secrets.OLLAMA_MODEL }}